In [1]:
import os

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
import matplotlib.pyplot as plt

In [5]:
import seaborn as sns

In [7]:
from sklearn.preprocessing import MinMaxScaler

In [8]:
from subprocess import check_output

In [15]:
os.getcwd()

'/home/imchandra/Desktop/Github_files/First_Repo/eurusd_project'

In [20]:
eurusd_data=pd.read_csv("/home/imchandra/Desktop/Github_files/First_Repo/eurusd_project/eurusd_data/EURUSD_15m_BID_01.01.2010-31.12.2016.csv")

In [22]:
eurusd_data.head(10)

               Time     Open     High      Low    Close       Volume
0  2010-01-01 00:00  1.43283  1.43293  1.43224  1.43293  608600007.1
1  2010-01-01 00:15  1.43285  1.43295  1.43229  1.43275  535600003.2
2  2010-01-01 00:30  1.43280  1.43303  1.43239  1.43281  436299999.2
3  2010-01-01 00:45  1.43285  1.43294  1.43229  1.43276  614299997.3
4  2010-01-01 01:00  1.43287  1.43292  1.43206  1.43282  705300008.8
5  2010-01-01 01:15  1.43290  1.43299  1.43212  1.43292  427300005.9
6  2010-01-01 01:30  1.43267  1.43305  1.43209  1.43282  399200000.8
7  2010-01-01 01:45  1.43280  1.43302  1.43218  1.43249  481200008.4
8  2010-01-01 02:00  1.43279  1.43303  1.43237  1.43301  607599996.6
9  2010-01-01 02:15  1.43301  1.43303  1.43222  1.43271  469600000.4

In [23]:
eurusd_data.count()

Time      245444
Open      245444
High      245444
Low       245444
Close     245444
Volume    245444
dtype: int64

In [24]:
sa_data=pd.read_csv("/home/imchandra/Desktop/Github_files/First_Repo/eurusd_project/eurusd_data/EURUSD_15m_BID_sample.csv")

In [25]:
sa_data.head()

               Time     Open     High      Low    Close        Volume
0  2015-12-29 00:00  1.09746  1.09783  1.09741  1.09772  4.866800e+08
1  2015-12-29 00:15  1.09772  1.09800  1.09770  1.09790  4.459200e+08
2  2015-12-29 00:30  1.09790  1.09805  1.09782  1.09792  1.210700e+09
3  2015-12-29 00:45  1.09792  1.09825  1.09775  1.09808  1.116910e+09
4  2015-12-29 01:00  1.09808  1.09824  1.09791  1.09822  5.038800e+08

In [26]:
sa_data.count()

Time      14880
Open      14880
High      14880
Low       14880
Close     14880
Volume    14880
dtype: int64

In [28]:
sa_data.index.min() , sa_data.index.max()

(0, 14879)